/* custom css rules */

.city-label{
    font-size: 11px;
    text-anchor: middle;
    font-family: sans-serif;

}

body{
    background-color: powderblue;
}

svg{
    /* background-color: red; */
    border-style: double;
    border-color: green;
    position: relative;
    display: block;
    margin: auto;
}

svg circle:hover{
    fill: rgb(162, 0, 255);
}

.city-label:hover{
    font-size: 20px;
    fill: rgb(162, 0, 255);
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 160px;
    height: 140px;
    padding: 10px;
    padding-top:13px;
    font: 20px sans-serif;
    background: gold;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    text-align: center;
    border-style: groove;
    border-color: rgb(162, 0, 255);
    border-width: 2px;
    color: black;
  }

.title{
    color: green;
    font-size: 40px;
    font-family: cursive;
    text-align: center;
    margin-bottom: 10px;
}

#teller{
    position: relative;
    top: 150px;
    /* background-color: yellow; */
    text-align: center;
    color: black;
}